{% extends "base.html" %}

{% block body %}

    <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Analysis Result <small>Result Overview</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <i class="fa fa-info-circle"></i> Satisfied with Analysis Result? Press Github star at <a href="https://github.com/WeareJoker/Pcapy" class="alert-link">Pcapy</a> !
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-sellsy fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ pcap.analysis.total_packet }}</div>
                                        <div>Total Packets</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">Total packet count that you upload</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ pcap.analysis.dns_packet | length }}</div>
                                        <div>DNS Packets</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">All Hosts in DNS query</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ pcap.analysis.kakao_url | length }}</div>
                                        <div>Messenger Packets</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">All Detected Messenger Packet (ex.Kakao)</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-warning fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">13</div>
                                        <div>Attack Packet (Beta)</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">Robots detect attack with machine learning</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Protocol VIew</h3>
                            </div>
                            <div class="panel-body">
                                <div id="protocol-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> DNS query View </h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-donut-chart"></div>
                                <div class="text-right">
                                    <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Analysis Tasks Panel</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    {% for pcap in pcap.user.pcap %}
                                        <a href="{{ url_for('pcap.result', pcap_name=pcap.fake_filename) }}" class="list-group-item">
                                            <span class="badge">{{ pcap.upload_timestamp }}</span>
                                            {% if pcap.is_done == False %}
                                            <i class="fa fa-fw fa-clock-o"></i> In Progress analysis:
                                            {% else %}
                                            <i class="fa fa-fw fa-check"></i> Completed analysis:
                                            {% endif %}
                                            <strong>{{ pcap.filename }}</strong>
                                        </a>
                                    {% endfor %}
                                </div>
                                <div class="text-right">
                                    <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Detected Cookie Data</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Cookie</th>
                                                <th>time</th>
                                                <th>Host</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>nid=HGKD12hKG_</td>
                                                <td>3:22 PM	</td>
                                                <td>naver.com</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>nid=GKH3HBHDK_</td>
                                                <td>3:20 PM</td>
                                                <td>naver.com</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>_octo=GH1.1.654</td>
                                                <td>3:03 PM</td>
                                                <td>github.com</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>NEO_SES=AAABBliL</td>
                                                <td>3:00 PM</td>
                                                <td>mail.worksmobile.com</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>10/21/2013</td>
                                                <td>2:49 PM</td>
                                                <td>$8345.23</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-right">
                                    <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>

{% endblock %}

{% block footer %}
    <!-- <script src="/js/plugins/morris/morris-data.js"></script> -->

    <script>
        // Morris.js Charts sample data for SB Admin template

        $(function() {

            // Area Chart
            Morris.Area({
                element: 'protocol-chart',
                data: [{
                    time: '2016-10-10 12:01:13.381941',
                    http: 2666,
                    arp: null,
                    dns: 2647
                }, {
                    time: '2010 Q2',
                    http: 2778,
                    arp: 2294,
                    dns: 2441
                }, {
                    time: '2010 Q3',
                    http: 4912,
                    arp: 1969,
                    dns: 2501
                }, {
                    time: '2010 Q4',
                    http: 3767,
                    arp: 3597,
                    dns: 5689
                }, {
                    time: '2011 Q1',
                    http: 6810,
                    arp: 1914,
                    dns: 2293
                }, {
                    time: '2011 Q2',
                    http: 5670,
                    arp: 4293,
                    dns: 1881
                }, {
                    time: '2011 Q3',
                    http: 4820,
                    arp: 3795,
                    dns: 1588
                }, {
                    time: '2011 Q4',
                    http: 15073,
                    arp: 5967,
                    dns: 5175
                }, {
                    time: '2012 Q1',
                    http: 10687,
                    arp: 4460,
                    dns: 2028
                }, {
                    time: '2012 Q2',
                    http: 8432,
                    arp: 5713,
                    dns: 1791
                }],
                xkey: 'time',
                ykeys: ['http', 'arp', 'dns'],
                labels: ['HTTP', 'ARP', 'DNS'],
                pointSize: 3,
                hideHover: 'auto',
                resize: true
            });

            // Donut Chart
            Morris.Donut({
                element: 'morris-donut-chart',
                data: [
                    {% for host, count in dns_data %}
                        {
                            label: "{{ host }}",
                            value: {{ count }}
                        },
                    {% endfor %}
                ],
                resize: true
            });

            // Line Chart
            Morris.Line({
                // ID of the element in which to draw the chart.
                element: 'morris-line-chart',
                // Chart data records -- each entry in this array corresponds to a point on
                // the chart.
                data: [{
                    d: '2012-10-01',
                    visits: 802
                }, {
                    d: '2012-10-02',
                    visits: 783
                }, {
                    d: '2012-10-03',
                    visits: 820
                }, {
                    d: '2012-10-04',
                    visits: 839
                }, {
                    d: '2012-10-05',
                    visits: 792
                }, {
                    d: '2012-10-06',
                    visits: 859
                }, {
                    d: '2012-10-07',
                    visits: 790
                }, {
                    d: '2012-10-08',
                    visits: 1680
                }, {
                    d: '2012-10-09',
                    visits: 1592
                }, {
                    d: '2012-10-10',
                    visits: 1420
                }, {
                    d: '2012-10-11',
                    visits: 882
                }, {
                    d: '2012-10-12',
                    visits: 889
                }, {
                    d: '2012-10-13',
                    visits: 819
                }, {
                    d: '2012-10-14',
                    visits: 849
                }, {
                    d: '2012-10-15',
                    visits: 870
                }, {
                    d: '2012-10-16',
                    visits: 1063
                }, {
                    d: '2012-10-17',
                    visits: 1192
                }, {
                    d: '2012-10-18',
                    visits: 1224
                }, {
                    d: '2012-10-19',
                    visits: 1329
                }, {
                    d: '2012-10-20',
                    visits: 1329
                }, {
                    d: '2012-10-21',
                    visits: 1239
                }, {
                    d: '2012-10-22',
                    visits: 1190
                }, {
                    d: '2012-10-23',
                    visits: 1312
                }, {
                    d: '2012-10-24',
                    visits: 1293
                }, {
                    d: '2012-10-25',
                    visits: 1283
                }, {
                    d: '2012-10-26',
                    visits: 1248
                }, {
                    d: '2012-10-27',
                    visits: 1323
                }, {
                    d: '2012-10-28',
                    visits: 1390
                }, {
                    d: '2012-10-29',
                    visits: 1420
                }, {
                    d: '2012-10-30',
                    visits: 1529
                }, {
                    d: '2012-10-31',
                    visits: 1892
                }, ],
                // The name of the data record attribute that contains x-visitss.
                xkey: 'd',
                // A list of names of data record attributes that contain y-visitss.
                ykeys: ['visits'],
                // Labels for the ykeys -- will be displayed when you hover over the
                // chart.
                labels: ['Visits'],
                // Disables line smoothing
                smooth: false,
                resize: true
            });

            // Bar Chart
            Morris.Bar({
                element: 'morris-bar-chart',
                data: [{
                    device: 'http',
                    geekbench: 136
                }, {
                    device: 'http 3G',
                    geekbench: 137
                }, {
                    device: 'http 3GS',
                    geekbench: 275
                }, {
                    device: 'http 4',
                    geekbench: 380
                }, {
                    device: 'http 4S',
                    geekbench: 655
                }, {
                    device: 'http 5',
                    geekbench: 1571
                }],
                xkey: 'device',
                ykeys: ['geekbench'],
                labels: ['Geekbench'],
                barRatio: 0.4,
                xLabelAngle: 35,
                hideHover: 'auto',
                resize: true
            });


        });

    </script>

{% endblock %}